.app-controlLabel {
  margin-right: 5px;
}

.app-dropdown {
  margin-left: 10px;
}

.app-filterTitle {
  margin-top: 30px;
  text-align: center;
}

.app-filterTitleSpecial {
  color: green;
}

.app-form {
  display: flex;
  justify-content: space-around;
  /*border-bottom: 1px solid lightgrey;*/
}

.app-paperInput {
  width: 300px !important;
}

.app-topStatFilters {
  padding: 15px 0;
  vertical-align: middle;
  margin: 30px 0;
  border: 1px solid lightgrey;
}
