{
  "root": true,
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
  },
  "env": {
      "node": true,
      "es6": true
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
  }
}
