[Unit]
Description=CS3219 Assignment 5
After=syslog.target
After=network.target
Requires=mongod.service
Wants=nginx.service

[Service]
Type=simple
WorkingDirectory=/home/yichen/assignment5-group8/server/
ExecStart=/usr/bin/node /home/yichen/assignment5-group8/server/bin/www
User=yichen
Group=yichen
UMask=0002
RestartSec=1
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cs3219-a5

[Install]
WantedBy=multi-user.target
